body {
  background-color: rgb(220, 239, 255);
}

#page-container {
  display: grid;
  grid-template-rows: 320px 1fr;
}

#title-bar {
  display: grid;
  grid-template-rows: 200px 100px;
  text-align: center;
}

#title-container {
  font-family: "Radio Canada", sans-serif;
  font-size: 25px;
}

#title-container p {
  font-size: 20px;
}

form {
  visibility: hidden;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

form input {
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}

#btn-submit {
  border: none;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.book {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  max-height: 250px;
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}

.book:hover {
  box-shadow: 0px 0px 10px;
  transform: translateY(-7px);
}

.book[data-read="true"] {
  border: 4px solid rgb(0, 140, 255);
}

.book[data-read="false"] {
  border: 4px solid rgb(255, 140, 0);
}

.book #title {
  padding-left: 30px;
  grid-row: 1;
}

.book #author {
  padding-left: 30px;
  grid-row: 2;
}

.book #pages {
  padding-left: 30px;
  grid-row: 3;
}

.book button {
  grid-row: 4;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  align-self: center;
  justify-self: center;
  margin-left: 30px;
}

.book[data-read="true"] button {
  background: linear-gradient(50deg, rgb(0, 140, 255), rgb(0, 255, 255));
}

.book[data-read="false"] button {
  background: linear-gradient(50deg, rgb(255, 0, 0), rgb(255, 140, 0));
}

.book[data-read="true"] button::after {
  content: "Read";
}

.book[data-read="false"] button::after {
  content: "Not Read";
}

.book[data-read="true"] img {
  transition: all 0.3s ease-in-out;
  filter: invert(46%) sepia(60%) saturate(6110%) hue-rotate(192deg)
    brightness(106%) contrast(104%);
}

.book[data-read="false"] img {
  transition: all 0.3s ease-in-out;
  filter: invert(54%) sepia(45%) saturate(1316%) hue-rotate(359deg)
    brightness(99%) contrast(107%);
}

#btn-add-book {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgb(0, 140, 255);
  margin-bottom: 20px;
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

#btn-add-book:hover {
  box-shadow: 0px 0px 5px black;
  transform: translateY(-7px);
}

#btn-add-book:active {
  background: linear-gradient(50deg, rgb(155, 155, 155), rgb(187, 187, 187));
}

#credits {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Radio Canada";
  font-size: 20px;
}

#credits-text {
  margin-right: 10px;
}

#credits-logo:hover {
  transition: all 0.3s ease-in-out;
  transform: rotateZ(360deg);
}
